@CHARSET "ISO-8859-1";

@font-face {
  font-family: maxine;
  src: url(../fonts/maxine.ttf) format("truetype");
}

@font-face {
  font-family: fictionalhead;
  src: url(../fonts/fh_script.otf);
}


.logo {
  background: url(../images/name.png);
  height: 93px;
  width: 420px;
}

.logotext {
  position: relative;
  font-size: 4em;
  top: 50px;
  left: 175px;
  color: #136679;
}

body {
  background-color: #202020;
  color: #21505B;
  font-family: fictionalhead;
  font-size: 1em;
  padding: 10px;
}

p {
  position: relative;
  font-size: 2em;
  padding-left: 30px;
  padding-right: 10px;
}

#contact {
  margin-top: 20px;
}

#aboutme {
  margin-top: 20px;
  margin-right: 260px;
  padding: 0 10px 5px 10px;
  background-color: #242424;
}

#sidebarwrapper {
  position: relative;
  width: 250px;
  float: right;
  padding-left: 10px;
}

#titlewrapper {
  background-color: #303030;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.sidebar {
  margin-top: -10px;
  background-color: #333333;
  padding-left: 10px;
  padding-right: 10px;
}

.topleftbottomright {
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-bottomright: 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;	
}

.toprightbottomleft {
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;	
}

.sidebar h3 {
  font-size: 2.5em;
  margin-top: -3px;
}

.sidebar ul {
  font-size: 1.5em;
}

a {
  color: #936333;
  text-decoration: none;
}

a:active, a:hover {
  color: #7F5B08;
}

.disclaimer {
  position: relative;
  left: 50px;
  top: 20px;
  font-size: 1.7em;
  margin-right: 50px;
}

h3 {
  color: #136679;
  font-size: 4em;
  margin-top: -5px;
  margin-bottom: -30px;
}