body {
    background-image: url("../img/wolflogo.png");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: right 25px top 75px;
    padding-bottom: 60px;
    padding-top: 75px;
}