body {
    background-image: url("../img/wolflogo.png");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: right 25px top 75px;
    padding-bottom: 60px;
    padding-top: 75px;
}

.embed-container {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}